[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Davi Leichsenring
	email = davileichs@gmail.com
[safe]
	directory = %(prefix)///wsl.localhost/Ubuntu/var/www/terravia
